/node_modules
/dist
*.json
.DS_Store
!knowledge_graph.json
!terminology.json
!example_domains.json
!package.json
!package-lock.json
!tsconfig.json
!firebase.json

# Firebase CLI deploy cache
/.firebase
